header,
section,
footer {
  border: 1px solid;
}

.header {
  background-color: white;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}

.nav-menu {
  list-style-type: none;
}

.site-nav,
.nav-menu {
  display: flex;
  justify-content: space-between;
}

.address-up {
  display: flex;
}

.main-nav {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: black;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 50px;
}

.nav-link:hover {
  color: rgba(33, 150, 243, 1);
}

.address-link-h {
  color: rgba(117, 117, 117, 1);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin: 50px;
}

.address-link-h:hover {
  color: rgba(33, 150, 243, 1);
}

.address-link-f {
  color: rgba(255, 255, 255, 0.6);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address-link-f:hover {
  color: none;
}

.about {
  display: flex;
  background-color: white;
  height: 769px;
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
  align-items: center;
  justify-content: space-between;
}

.about-list li (not):last-child {
  padding-right: 30px;
}

.about-title {
  text-align: left;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 9.7px;
}

.about-txt {
  text-align: left;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}

.logo-h,
.logo-f {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.logo-h {
  color: black;
}

.logo-f {
  color: white;
}

.logo-part {
  color: rgba(33, 150, 243, 1);
}

body {
  font-family: 'Roboto', sans-serif;
}

.hero {
  background-color: #2f303a;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}

.hero-text {
  color: white;
  position: absolute;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.reg-btn {
  background-color: rgba(33, 150, 243, 1);
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.reg-btn-txt {
  color: white;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: inline;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.about {
  background-color: white;
  width: 1600px;
  height: 769px;
}

.strong-sides-list {
  display: flex;
}

/* .our-job {
  display: flex;
} */

.our-job-txt {
  /* display: flex; */

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
}

.img-item {
  margin-left: 215px;
}

.team-img {
  display: flex;
  padding-top: 86px;
  justify-content: space-around;
}

.team {
  display: inline-flex;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  padding-top: 94px;
  padding-left: 668px;
}

.bottom-page {
  background-color: rgba(245, 244, 250, 1);
  width: 1600px;
}

.footer {
  background-color: rgba(47, 48, 58, 1);
}

.footer-address {
  color: white;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
